<% layout("/layouts/boilerplate.ejs") %>

<%- include("../layouts/includes/navbar.ejs") %>

    <main class="m-0 p-0">
    <h1 class="text-3xl ml-10">All listings</h1>
    <ul class="flex  flex-wrap justify-center">
        <%  for(let listing of allListings){%>
        <li class="  m-2  shadow-md hover:opacity-80 active:shadow-none  w-[21rem] rounded-md">
            <a href="/listings/<%= listing._id %>">
            <div class = "container  flex flex-col items-center">
                <img class="rounded-md  w-[20.5rem] h-72 " src="<%= listing.image %>" alt="No Image">
            </div>
            <h3 class="font-semibold ml-4" ><%= listing.title %></h3>
            <p class="ml-4"> &#8377; <%= (listing.price).toLocaleString("en-in") %>/night</p>
            </a>
        </li><% } %>
    </ul>
    </main>
    
    <%- include("../layouts/includes/footer.ejs") %>

